<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
		<td>P=12</td>
		<td>P=16</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>100.476</td>
		<td>50.6808</td>
		<td>28.9961</td>
		<td>24.855</td>
		<td>23.6191</td>
		<td>32.7499</td>
		<td>28.9079</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>101.184</td>
		<td>51.3344</td>
		<td>45.1926</td>
		<td>41.423</td>
		<td>54.1451</td>
		<td>53.9499</td>
		<td>76.2408</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>102.544</td>
		<td>61.5611</td>
		<td>60.9161</td>
		<td>56.5362</td>
		<td>75.5049</td>
		<td>77.4789</td>
		<td>81.1536</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>103.72</td>
		<td>68.9489</td>
		<td>85.7771</td>
		<td>73.9441</td>
		<td>71.9445</td>
		<td>74.3421</td>
		<td>77.4437</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>103.906</td>
		<td>87.9987</td>
		<td>88.1077</td>
		<td>62.9939</td>
		<td>68.0072</td>
		<td>62.9247</td>
		<td>67.3087</td>
	</tr>
</table>
