<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>43.6234</td>
		<td>24.8751</td>
		<td>16.7682</td>
		<td>11.1271</td>
		<td>19.4249</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>44.8697</td>
		<td>33.9479</td>
		<td>30.3809</td>
		<td>27.2097</td>
		<td>49.1635</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>45.903</td>
		<td>46.169</td>
		<td>56.402</td>
		<td>69.7446</td>
		<td>81.1805</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>46.0874</td>
		<td>54.0254</td>
		<td>72.2337</td>
		<td>88.561</td>
		<td>84.249</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>48.0884</td>
		<td>63.3512</td>
		<td>87.617</td>
		<td>88.4202</td>
		<td>78.7366</td>
	</tr>
</table>
