<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>1939.01</td>
		<td>1032.71</td>
		<td>520.545</td>
		<td>449.815</td>
		<td>345.403</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>1955.15</td>
		<td>1039.27</td>
		<td>523.678</td>
		<td>446.205</td>
		<td>348.667</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>1949.44</td>
		<td>1036.21</td>
		<td>523.516</td>
		<td>451.943</td>
		<td>346.567</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>1951.09</td>
		<td>1039.94</td>
		<td>524.098</td>
		<td>451.125</td>
		<td>360.131</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>1964.72</td>
		<td>1040.06</td>
		<td>524.36</td>
		<td>453.46</td>
		<td>355.05</td>
	</tr>
</table>
