<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>129.439</td>
		<td>67.3555</td>
		<td>36.8984</td>
		<td>28.9282</td>
		<td>23.8751</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>130.193</td>
		<td>77.237</td>
		<td>52.2713</td>
		<td>29.6873</td>
		<td>63.8298</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>131.389</td>
		<td>86.5843</td>
		<td>74.8086</td>
		<td>66.2265</td>
		<td>83.9483</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>132.498</td>
		<td>95.7763</td>
		<td>93.1423</td>
		<td>103.276</td>
		<td>97.9664</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>133.603</td>
		<td>105.876</td>
		<td>113.066</td>
		<td>86.0396</td>
		<td>111.134</td>
	</tr>
</table>
