<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
		<td>P=12</td>
		<td>P=16</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>33.7658</td>
		<td>17.8582</td>
		<td>11.459</td>
		<td>10.7406</td>
		<td>14.4021</td>
		<td>15.1908</td>
		<td>18.8454</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>34.771</td>
		<td>18.8101</td>
		<td>12.3987</td>
		<td>11.7135</td>
		<td>12.6306</td>
		<td>15.7061</td>
		<td>16.5324</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>35.8514</td>
		<td>20.2525</td>
		<td>13.3666</td>
		<td>13.5178</td>
		<td>16.3594</td>
		<td>14.9229</td>
		<td>17.111</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>36.8646</td>
		<td>20.8642</td>
		<td>15.0574</td>
		<td>13.4929</td>
		<td>13.652</td>
		<td>17.203</td>
		<td>20.6024</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>37.9465</td>
		<td>21.7896</td>
		<td>15.145</td>
		<td>14.2754</td>
		<td>14.4309</td>
		<td>24.409</td>
		<td>19.162</td>
	</tr>
</table>
