<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>1947.18</td>
		<td>1095.29</td>
		<td>690.769</td>
		<td>695.15</td>
		<td>759.011</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>1953.98</td>
		<td>1098.76</td>
		<td>696.719</td>
		<td>713.641</td>
		<td>762.588</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>1959.51</td>
		<td>1095.29</td>
		<td>694.076</td>
		<td>698.808</td>
		<td>763.497</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>1952.16</td>
		<td>1101.81</td>
		<td>697.652</td>
		<td>699.579</td>
		<td>764.13</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>1953.77</td>
		<td>1102.41</td>
		<td>695.744</td>
		<td>700.007</td>
		<td>763.987</td>
	</tr>
</table>
