<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>42.4469</td>
		<td>24.6377</td>
		<td>10.901</td>
		<td>5.09728</td>
		<td>14.1908</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>81.813</td>
		<td>24.2767</td>
		<td>11.0258</td>
		<td>5.4105</td>
		<td>7.30496</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>36.2733</td>
		<td>19.0801</td>
		<td>9.48495</td>
		<td>6.54757</td>
		<td>14.6118</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>46.435</td>
		<td>18.2323</td>
		<td>9.23212</td>
		<td>5.03698</td>
		<td>11.7654</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>52.9504</td>
		<td>25.9027</td>
		<td>12.706</td>
		<td>8.12526</td>
		<td>11.7283</td>
	</tr>
</table>
