<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>11.3245</td>
		<td>6.91836</td>
		<td>6.02891</td>
		<td>7.03664</td>
		<td>8.45128</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>12.2986</td>
		<td>7.80623</td>
		<td>6.98206</td>
		<td>8.07985</td>
		<td>9.48179</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>13.2803</td>
		<td>9.01352</td>
		<td>7.90848</td>
		<td>8.93723</td>
		<td>10.1428</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>14.3346</td>
		<td>9.87286</td>
		<td>8.85523</td>
		<td>10.0434</td>
		<td>11.261</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>15.3946</td>
		<td>10.7156</td>
		<td>9.73547</td>
		<td>10.9226</td>
		<td>12.1813</td>
	</tr>
</table>
