<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>32.5832</td>
		<td>17.3558</td>
		<td>8.75603</td>
		<td>9.3334</td>
		<td>8.83965</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>32.7053</td>
		<td>17.3993</td>
		<td>8.82551</td>
		<td>10.7382</td>
		<td>8.9393</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>32.6673</td>
		<td>17.4243</td>
		<td>8.80312</td>
		<td>9.15486</td>
		<td>10.0007</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>32.7972</td>
		<td>17.2933</td>
		<td>8.79222</td>
		<td>9.13944</td>
		<td>9.04431</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>32.6594</td>
		<td>17.3873</td>
		<td>8.82239</td>
		<td>8.54985</td>
		<td>10.0626</td>
	</tr>
</table>
