<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>22.735</td>
		<td>11.0163</td>
		<td>6.09694</td>
		<td>3.94095</td>
		<td>6.45699</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>22.9996</td>
		<td>11.962</td>
		<td>6.2604</td>
		<td>4.29743</td>
		<td>4.36207</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>24.3431</td>
		<td>11.1655</td>
		<td>5.86315</td>
		<td>4.15374</td>
		<td>6.50756</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>22.0003</td>
		<td>10.79</td>
		<td>5.75458</td>
		<td>4.53557</td>
		<td>7.06162</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>22.6615</td>
		<td>11.4752</td>
		<td>5.92799</td>
		<td>4.23265</td>
		<td>3.48972</td>
	</tr>
</table>
