<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
		<td>P=12</td>
		<td>P=16</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>132.813</td>
		<td>67.335</td>
		<td>42.0397</td>
		<td>31.4672</td>
		<td>26.6498</td>
		<td>31.0698</td>
		<td>41.8431</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>134.66</td>
		<td>68.9078</td>
		<td>52.4408</td>
		<td>31.7496</td>
		<td>55.1135</td>
		<td>84.0686</td>
		<td>102.979</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>135.817</td>
		<td>81.1123</td>
		<td>72.2268</td>
		<td>70.9571</td>
		<td>94.2228</td>
		<td>97.1248</td>
		<td>109.561</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>136.778</td>
		<td>81.3583</td>
		<td>95.771</td>
		<td>86.0116</td>
		<td>92.4438</td>
		<td>104.954</td>
		<td>106.258</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>137.146</td>
		<td>96.1556</td>
		<td>113.76</td>
		<td>106.9</td>
		<td>95.8092</td>
		<td>96.5023</td>
		<td>102.712</td>
	</tr>
</table>
