<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>12.1725</td>
		<td>5.83161</td>
		<td>3.04596</td>
		<td>2.2754</td>
		<td>1.91079</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>10.2078</td>
		<td>5.57184</td>
		<td>3.17028</td>
		<td>2.58495</td>
		<td>3.14924</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>11.3525</td>
		<td>5.75195</td>
		<td>3.2003</td>
		<td>2.33509</td>
		<td>2.14256</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>11.0002</td>
		<td>5.82124</td>
		<td>2.96893</td>
		<td>2.35931</td>
		<td>2.14958</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>11.1016</td>
		<td>6.01806</td>
		<td>3.21713</td>
		<td>2.45051</td>
		<td>3.23705</td>
	</tr>
</table>
