<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>5797.56</td>
		<td>3016.64</td>
		<td>1653.46</td>
		<td>1485.09</td>
		<td>1393.04</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>5801.28</td>
		<td>3020.01</td>
		<td>1656.25</td>
		<td>1484.54</td>
		<td>1351.97</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>5801.88</td>
		<td>3019.91</td>
		<td>1657.2</td>
		<td>1484.74</td>
		<td>1389.79</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>5798.31</td>
		<td>3022.91</td>
		<td>1673.84</td>
		<td>1484.86</td>
		<td>1397.8</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>5799.68</td>
		<td>3022.99</td>
		<td>1661.12</td>
		<td>1487.52</td>
		<td>1356.67</td>
	</tr>
</table>
