<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>40.6274</td>
		<td>17.3498</td>
		<td>13.9542</td>
		<td>8.85373</td>
		<td>10.8438</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>49.754</td>
		<td>25.9352</td>
		<td>37.8341</td>
		<td>11.1155</td>
		<td>9.42213</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>911.045</td>
		<td>19.1084</td>
		<td>21.6254</td>
		<td>9.86732</td>
		<td>13.3791</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>56.6292</td>
		<td>17.1195</td>
		<td>12.4769</td>
		<td>12.7207</td>
		<td>10.1746</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>41.9593</td>
		<td>13.3046</td>
		<td>9.92161</td>
		<td>11.4992</td>
		<td>9.30253</td>
	</tr>
</table>
