<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>21.7326</td>
		<td>11.9863</td>
		<td>7.88553</td>
		<td>7.86471</td>
		<td>8.12227</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>21.821</td>
		<td>11.9564</td>
		<td>7.83554</td>
		<td>7.33591</td>
		<td>8.04579</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>21.7577</td>
		<td>11.968</td>
		<td>7.85642</td>
		<td>7.40853</td>
		<td>7.96647</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>21.784</td>
		<td>11.9616</td>
		<td>7.85956</td>
		<td>7.66272</td>
		<td>8.65196</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>21.8036</td>
		<td>11.9393</td>
		<td>7.95854</td>
		<td>7.54018</td>
		<td>7.97806</td>
	</tr>
</table>
