<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>106.517</td>
		<td>37.8457</td>
		<td>21.1942</td>
		<td>8.95416</td>
		<td>20.0017</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>87.3759</td>
		<td>39.9162</td>
		<td>30.1325</td>
		<td>13.1671</td>
		<td>19.4326</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>122.087</td>
		<td>39.2435</td>
		<td>19.1566</td>
		<td>14.8308</td>
		<td>13.3512</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>90.7516</td>
		<td>45.6625</td>
		<td>20.3182</td>
		<td>9.2594</td>
		<td>18.2491</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>68.6877</td>
		<td>33.5705</td>
		<td>25.8295</td>
		<td>13.6101</td>
		<td>18.5204</td>
	</tr>
</table>
