<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>65.0034</td>
		<td>33.7606</td>
		<td>18.9489</td>
		<td>18.121</td>
		<td>18.9609</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>65.8732</td>
		<td>34.6617</td>
		<td>19.9831</td>
		<td>18.4866</td>
		<td>16.4895</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>66.9804</td>
		<td>37.0436</td>
		<td>20.9972</td>
		<td>19.066</td>
		<td>17.438</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>68.2001</td>
		<td>48.9116</td>
		<td>21.9539</td>
		<td>48.8883</td>
		<td>20.0275</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>69.2114</td>
		<td>57.1556</td>
		<td>22.8951</td>
		<td>21.2582</td>
		<td>33.0126</td>
	</tr>
</table>
