<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>1834.9</td>
		<td>947.515</td>
		<td>454.988</td>
		<td>311.772</td>
		<td>301.118</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>1814.49</td>
		<td>928.655</td>
		<td>465.138</td>
		<td>410.125</td>
		<td>306.85</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>1857.95</td>
		<td>968.431</td>
		<td>476.687</td>
		<td>314.824</td>
		<td>288.017</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>1860.2</td>
		<td>929.468</td>
		<td>507.472</td>
		<td>306.226</td>
		<td>245.16</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>1872.19</td>
		<td>950.079</td>
		<td>458.013</td>
		<td>313.309</td>
		<td>287.863</td>
	</tr>
</table>
