<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>43.2248</td>
		<td>23.0819</td>
		<td>12.0265</td>
		<td>10.4461</td>
		<td>8.85607</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>43.3605</td>
		<td>23.266</td>
		<td>12.0454</td>
		<td>10.7463</td>
		<td>8.60709</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>43.4837</td>
		<td>23.2978</td>
		<td>12.1263</td>
		<td>10.5521</td>
		<td>14.3928</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>43.7502</td>
		<td>23.2007</td>
		<td>12.0281</td>
		<td>10.5695</td>
		<td>8.74196</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>43.7731</td>
		<td>23.1497</td>
		<td>12.0242</td>
		<td>10.6112</td>
		<td>13.0979</td>
	</tr>
</table>
