<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>1947.59</td>
		<td>1091.69</td>
		<td>692.699</td>
		<td>706.445</td>
		<td>798.252</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>1946.66</td>
		<td>1103.31</td>
		<td>695.587</td>
		<td>708.816</td>
		<td>801.568</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>1951.17</td>
		<td>1102.87</td>
		<td>699.183</td>
		<td>710.226</td>
		<td>810.45</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>1954.06</td>
		<td>1104.24</td>
		<td>703.052</td>
		<td>710.698</td>
		<td>812.938</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>1967.41</td>
		<td>1105.7</td>
		<td>700.594</td>
		<td>714.158</td>
		<td>748.831</td>
	</tr>
</table>
