<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>48.1281</td>
		<td>24.7726</td>
		<td>15.7929</td>
		<td>16.8649</td>
		<td>16.2929</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>52.9032</td>
		<td>24.8974</td>
		<td>13.3774</td>
		<td>15.4104</td>
		<td>13.0735</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>48.5439</td>
		<td>29.4848</td>
		<td>15.6388</td>
		<td>13.102</td>
		<td>16.0789</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>48.4996</td>
		<td>24.5329</td>
		<td>13.5059</td>
		<td>11.5285</td>
		<td>12.055</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>51.5545</td>
		<td>30.7484</td>
		<td>19.2252</td>
		<td>18.2577</td>
		<td>15.5779</td>
	</tr>
</table>
