<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>35.97</td>
		<td>18.4698</td>
		<td>13.84</td>
		<td>12.7682</td>
		<td>10.1748</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>36.5791</td>
		<td>18.3052</td>
		<td>11.0816</td>
		<td>11.6215</td>
		<td>12.5544</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>36.5201</td>
		<td>18.718</td>
		<td>12.7645</td>
		<td>13.93</td>
		<td>10.7285</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>37.8218</td>
		<td>18.4423</td>
		<td>11.5591</td>
		<td>14.6147</td>
		<td>12.6741</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>36.4814</td>
		<td>18.9627</td>
		<td>12.9465</td>
		<td>10.1161</td>
		<td>10.2668</td>
	</tr>
</table>
