<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>59.6786</td>
		<td>29.4721</td>
		<td>23.7918</td>
		<td>13.1397</td>
		<td>13.12</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>67.7073</td>
		<td>26.12</td>
		<td>22.5178</td>
		<td>7.3686</td>
		<td>7.74799</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>66.7221</td>
		<td>28.1136</td>
		<td>14.6587</td>
		<td>9.97012</td>
		<td>17.2499</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>68.4708</td>
		<td>30.9961</td>
		<td>18.8035</td>
		<td>10.7868</td>
		<td>17.6284</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>61.4398</td>
		<td>35.8746</td>
		<td>18.0522</td>
		<td>9.05665</td>
		<td>16.994</td>
	</tr>
</table>
