<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>43.392</td>
		<td>23.0623</td>
		<td>11.6916</td>
		<td>13.3358</td>
		<td>11.8851</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>43.5893</td>
		<td>23.2477</td>
		<td>11.7125</td>
		<td>10.6692</td>
		<td>13.3748</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>43.6323</td>
		<td>23.1302</td>
		<td>11.738</td>
		<td>11.9866</td>
		<td>11.8135</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>43.742</td>
		<td>23.2259</td>
		<td>11.6888</td>
		<td>12.6219</td>
		<td>11.8476</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>43.5548</td>
		<td>23.1728</td>
		<td>11.7064</td>
		<td>13.5147</td>
		<td>11.9281</td>
	</tr>
</table>
