<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>24.2408</td>
		<td>12.2826</td>
		<td>10.2075</td>
		<td>8.58984</td>
		<td>10.7777</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>24.3228</td>
		<td>12.3697</td>
		<td>9.26397</td>
		<td>8.91081</td>
		<td>9.77469</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>24.7261</td>
		<td>12.4123</td>
		<td>9.84323</td>
		<td>6.28896</td>
		<td>7.66749</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>24.3709</td>
		<td>12.4496</td>
		<td>10.1946</td>
		<td>8.62655</td>
		<td>9.39975</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>24.4377</td>
		<td>13.758</td>
		<td>9.75996</td>
		<td>8.86451</td>
		<td>7.11196</td>
	</tr>
</table>
