<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>12.4773</td>
		<td>6.46121</td>
		<td>6.36731</td>
		<td>4.06694</td>
		<td>3.39282</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>12.3244</td>
		<td>6.75472</td>
		<td>4.70585</td>
		<td>5.42804</td>
		<td>5.19214</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>12.4555</td>
		<td>6.33426</td>
		<td>4.61547</td>
		<td>5.71704</td>
		<td>6.973</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>12.3924</td>
		<td>6.43465</td>
		<td>4.89172</td>
		<td>3.46918</td>
		<td>5.18208</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>12.4798</td>
		<td>6.49657</td>
		<td>6.12695</td>
		<td>4.50899</td>
		<td>4.97306</td>
	</tr>
</table>
