<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
		<td>P=12</td>
		<td>P=16</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>67.1978</td>
		<td>34.2753</td>
		<td>18.9473</td>
		<td>16.3943</td>
		<td>14.8351</td>
		<td>19.2214</td>
		<td>19.9103</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>67.315</td>
		<td>35.173</td>
		<td>19.8308</td>
		<td>17.3205</td>
		<td>51.1895</td>
		<td>21.8266</td>
		<td>22.9951</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>69.2463</td>
		<td>48.6991</td>
		<td>24.7214</td>
		<td>46.6031</td>
		<td>51.1441</td>
		<td>56.1185</td>
		<td>48.305</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>70.4681</td>
		<td>43.2847</td>
		<td>21.9571</td>
		<td>19.8816</td>
		<td>53.7552</td>
		<td>24.4957</td>
		<td>23.8912</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>71.4292</td>
		<td>53.0598</td>
		<td>50.977</td>
		<td>48.5655</td>
		<td>52.7194</td>
		<td>27.437</td>
		<td>52.6831</td>
	</tr>
</table>
