<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>10.8556</td>
		<td>5.84016</td>
		<td>2.96045</td>
		<td>3.24</td>
		<td>3.3367</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>10.9001</td>
		<td>5.8176</td>
		<td>2.99628</td>
		<td>4.46116</td>
		<td>3.82057</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>10.853</td>
		<td>5.81772</td>
		<td>3.06156</td>
		<td>4.48532</td>
		<td>3.85847</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>10.8816</td>
		<td>5.82905</td>
		<td>3.05733</td>
		<td>5.42373</td>
		<td>3.84765</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>10.8731</td>
		<td>5.86992</td>
		<td>3.05069</td>
		<td>4.5548</td>
		<td>5.35364</td>
	</tr>
</table>
