<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>97.185</td>
		<td>51.0687</td>
		<td>26.6006</td>
		<td>22.8218</td>
		<td>18.9183</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>98.0828</td>
		<td>55.7422</td>
		<td>27.5598</td>
		<td>23.373</td>
		<td>21.7488</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>99.1274</td>
		<td>72.188</td>
		<td>60.5815</td>
		<td>63.4919</td>
		<td>77.9916</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>100.282</td>
		<td>81.6993</td>
		<td>78.4276</td>
		<td>47.6092</td>
		<td>69.1408</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>101.457</td>
		<td>90.8852</td>
		<td>87.281</td>
		<td>27.1808</td>
		<td>82.7918</td>
	</tr>
</table>
