<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>20.5939</td>
		<td>17.9442</td>
		<td>14.9851</td>
		<td>6.12435</td>
		<td>6.05727</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>49.009</td>
		<td>11.7028</td>
		<td>10.566</td>
		<td>6.60515</td>
		<td>7.27326</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>30.8931</td>
		<td>14.2917</td>
		<td>31.2484</td>
		<td>6.29867</td>
		<td>7.26725</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>22.8852</td>
		<td>7.5907</td>
		<td>9.83306</td>
		<td>5.45439</td>
		<td>7.05328</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>37.2512</td>
		<td>12.7931</td>
		<td>13.3392</td>
		<td>7.5753</td>
		<td>6.5829</td>
	</tr>
</table>
