<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>32.9472</td>
		<td>17.8047</td>
		<td>10.4</td>
		<td>9.77122</td>
		<td>14.3767</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>33.8598</td>
		<td>18.6118</td>
		<td>11.4738</td>
		<td>10.5204</td>
		<td>14.2551</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>36.0365</td>
		<td>19.5045</td>
		<td>12.3131</td>
		<td>11.0625</td>
		<td>10.6059</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>35.6806</td>
		<td>20.4403</td>
		<td>13.3199</td>
		<td>12.3019</td>
		<td>11.5365</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>36.4483</td>
		<td>21.4751</td>
		<td>14.1823</td>
		<td>13.1917</td>
		<td>15.0584</td>
	</tr>
</table>
