<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>11.2716</td>
		<td>6.88118</td>
		<td>5.96502</td>
		<td>7.12434</td>
		<td>8.60721</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>12.0528</td>
		<td>7.67326</td>
		<td>6.71616</td>
		<td>7.76959</td>
		<td>9.27719</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>12.8765</td>
		<td>8.48591</td>
		<td>7.57167</td>
		<td>8.82446</td>
		<td>10.1443</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>13.768</td>
		<td>9.4386</td>
		<td>8.48322</td>
		<td>9.56229</td>
		<td>10.9437</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>14.6225</td>
		<td>10.2463</td>
		<td>9.53483</td>
		<td>10.3657</td>
		<td>12.0182</td>
	</tr>
</table>
