<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>1672.94</td>
		<td>34.6757</td>
		<td>28.425</td>
		<td>16.7303</td>
		<td>14.7139</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>72.1901</td>
		<td>40.6751</td>
		<td>30.6443</td>
		<td>20.4316</td>
		<td>20.9494</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>68.4993</td>
		<td>70.479</td>
		<td>28.6761</td>
		<td>19.8505</td>
		<td>20.7854</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>76.9497</td>
		<td>42.5888</td>
		<td>28.7224</td>
		<td>19.8319</td>
		<td>22.2685</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>71.4406</td>
		<td>48.3804</td>
		<td>27.305</td>
		<td>22.4371</td>
		<td>19.2593</td>
	</tr>
</table>
