<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>32.6179</td>
		<td>17.7259</td>
		<td>11.4221</td>
		<td>11.0924</td>
		<td>12.772</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>33.6327</td>
		<td>18.5856</td>
		<td>12.3627</td>
		<td>12.6085</td>
		<td>12.4992</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>34.7368</td>
		<td>19.6898</td>
		<td>13.2605</td>
		<td>12.8678</td>
		<td>13.2546</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>35.8415</td>
		<td>20.7426</td>
		<td>14.2015</td>
		<td>13.4188</td>
		<td>14.0172</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>37.7047</td>
		<td>21.4915</td>
		<td>15.0044</td>
		<td>14.5225</td>
		<td>14.9835</td>
	</tr>
</table>
