<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>10.8493</td>
		<td>6.58758</td>
		<td>5.6022</td>
		<td>6.63936</td>
		<td>7.96645</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>10.8916</td>
		<td>6.56101</td>
		<td>5.62491</td>
		<td>6.83473</td>
		<td>8.05199</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>10.8511</td>
		<td>6.52388</td>
		<td>5.6665</td>
		<td>6.73583</td>
		<td>8.06758</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>10.9498</td>
		<td>6.53852</td>
		<td>5.67619</td>
		<td>6.73071</td>
		<td>8.23839</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>10.9123</td>
		<td>6.5641</td>
		<td>5.65972</td>
		<td>7.406</td>
		<td>9.20833</td>
	</tr>
</table>
