<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>14.45</td>
		<td>129.004</td>
		<td>72.0197</td>
		<td>68.2069</td>
		<td>127.309</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>43.1284</td>
		<td>127.753</td>
		<td>88.084</td>
		<td>64.215</td>
		<td>68.7083</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>32.9536</td>
		<td>131.564</td>
		<td>79.3959</td>
		<td>79.0138</td>
		<td>98.2065</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>11.6375</td>
		<td>128.375</td>
		<td>87.9173</td>
		<td>75.5783</td>
		<td>64.9548</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>19.7888</td>
		<td>123.339</td>
		<td>78.3455</td>
		<td>81.7701</td>
		<td>69.0514</td>
	</tr>
</table>
