<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>49.0042</td>
		<td>23.1566</td>
		<td>10.9717</td>
		<td>8.56533</td>
		<td>10.8812</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>45.5688</td>
		<td>22.9136</td>
		<td>12.7686</td>
		<td>8.64428</td>
		<td>6.69986</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>40.6268</td>
		<td>22.0514</td>
		<td>11.3815</td>
		<td>8.38389</td>
		<td>6.42022</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>46.315</td>
		<td>24.5696</td>
		<td>11.8009</td>
		<td>7.64384</td>
		<td>10.2781</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>45.4929</td>
		<td>22.0704</td>
		<td>11.3041</td>
		<td>8.21436</td>
		<td>7.14045</td>
	</tr>
</table>
