<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>44.8947</td>
		<td>14.19</td>
		<td>8.0312</td>
		<td>4.45156</td>
		<td>10.6815</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>43.8811</td>
		<td>33.1556</td>
		<td>5.81634</td>
		<td>3.19958</td>
		<td>10.9606</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>25.6952</td>
		<td>13.611</td>
		<td>7.75227</td>
		<td>5.57887</td>
		<td>11.3387</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>27.0464</td>
		<td>11.2704</td>
		<td>5.72161</td>
		<td>5.21184</td>
		<td>11.4411</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>54.9886</td>
		<td>13.0428</td>
		<td>8.60738</td>
		<td>4.81672</td>
		<td>11.2647</td>
	</tr>
</table>
