<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>32.8998</td>
		<td>17.8415</td>
		<td>10.3643</td>
		<td>9.94541</td>
		<td>11.2577</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>33.9626</td>
		<td>27.9865</td>
		<td>11.5935</td>
		<td>10.8388</td>
		<td>45.5747</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>35.1121</td>
		<td>39.0335</td>
		<td>46.0061</td>
		<td>53.2633</td>
		<td>60.4942</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>36.223</td>
		<td>46.9087</td>
		<td>65.4873</td>
		<td>67.8249</td>
		<td>72.1629</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>37.5925</td>
		<td>59.4444</td>
		<td>70.1741</td>
		<td>67.9934</td>
		<td>68.3511</td>
	</tr>
</table>
