<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>28.1652</td>
		<td>232.086</td>
		<td>173.683</td>
		<td>133.001</td>
		<td>144.293</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>27.9443</td>
		<td>241.109</td>
		<td>155.732</td>
		<td>130.848</td>
		<td>115.249</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>44.9302</td>
		<td>240.045</td>
		<td>151.899</td>
		<td>126.16</td>
		<td>101.33</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>55.156</td>
		<td>254.202</td>
		<td>150.634</td>
		<td>132.121</td>
		<td>122.854</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>20.27</td>
		<td>226.358</td>
		<td>154.796</td>
		<td>144.261</td>
		<td>115.367</td>
	</tr>
</table>
