<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>43.6803</td>
		<td>23.442</td>
		<td>12.5581</td>
		<td>11.1864</td>
		<td>11.749</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>44.6718</td>
		<td>24.3296</td>
		<td>13.6481</td>
		<td>11.8657</td>
		<td>16.7822</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>45.7984</td>
		<td>25.4873</td>
		<td>14.8575</td>
		<td>12.7276</td>
		<td>13.7651</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>46.6934</td>
		<td>26.1634</td>
		<td>15.7656</td>
		<td>13.9565</td>
		<td>13.9901</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>47.5252</td>
		<td>27.0375</td>
		<td>17.6475</td>
		<td>14.5403</td>
		<td>15.5863</td>
	</tr>
</table>
