<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>35.0535</td>
		<td>17.6581</td>
		<td>8.28472</td>
		<td>5.69447</td>
		<td>8.49822</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>33.9245</td>
		<td>17.5929</td>
		<td>9.21788</td>
		<td>5.85403</td>
		<td>7.52304</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>33.9171</td>
		<td>18.8363</td>
		<td>8.84848</td>
		<td>5.87991</td>
		<td>5.37554</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>34.3796</td>
		<td>17.0026</td>
		<td>9.4433</td>
		<td>7.43707</td>
		<td>7.98717</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>34.9696</td>
		<td>16.8188</td>
		<td>8.40759</td>
		<td>5.91732</td>
		<td>8.47915</td>
	</tr>
</table>
