<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>67.7626</td>
		<td>474.23</td>
		<td>318.83</td>
		<td>240.153</td>
		<td>211.635</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>64.5298</td>
		<td>563.524</td>
		<td>322.843</td>
		<td>257.853</td>
		<td>215.961</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>45.444</td>
		<td>569.724</td>
		<td>314.975</td>
		<td>272.942</td>
		<td>173.848</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>41.4452</td>
		<td>479.382</td>
		<td>330.003</td>
		<td>220.535</td>
		<td>239.846</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>45.3601</td>
		<td>457.293</td>
		<td>304.963</td>
		<td>216.871</td>
		<td>226.888</td>
	</tr>
</table>
