<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>21.6201</td>
		<td>11.5427</td>
		<td>5.87697</td>
		<td>6.16189</td>
		<td>5.97708</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>21.7715</td>
		<td>11.5883</td>
		<td>5.93502</td>
		<td>6.98907</td>
		<td>4.48947</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>21.8592</td>
		<td>11.6074</td>
		<td>5.94768</td>
		<td>5.6296</td>
		<td>5.99906</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>21.8205</td>
		<td>11.5831</td>
		<td>5.90599</td>
		<td>7.8523</td>
		<td>7.05228</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>21.8494</td>
		<td>11.6075</td>
		<td>5.95161</td>
		<td>5.88093</td>
		<td>5.36835</td>
	</tr>
</table>
