<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>22.0479</td>
		<td>12.3414</td>
		<td>8.2139</td>
		<td>10.8291</td>
		<td>10.9264</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>23.0398</td>
		<td>13.3593</td>
		<td>9.16763</td>
		<td>35.4084</td>
		<td>9.23202</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>24.1257</td>
		<td>17.8523</td>
		<td>10.3803</td>
		<td>10.1765</td>
		<td>10.3454</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>25.4614</td>
		<td>29.7945</td>
		<td>11.275</td>
		<td>47.9041</td>
		<td>45.2295</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>26.3918</td>
		<td>33.8898</td>
		<td>12.1626</td>
		<td>47.3234</td>
		<td>12.1268</td>
	</tr>
</table>
