<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>1939.24</td>
		<td>1096.06</td>
		<td>692.176</td>
		<td>705.263</td>
		<td>798.397</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>1948.57</td>
		<td>1096.56</td>
		<td>696.083</td>
		<td>707.985</td>
		<td>801.367</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>1952.79</td>
		<td>1099.67</td>
		<td>696.889</td>
		<td>723.858</td>
		<td>804.554</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>1966.15</td>
		<td>1099.81</td>
		<td>702.74</td>
		<td>711.769</td>
		<td>828.519</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>1961.39</td>
		<td>1108.57</td>
		<td>704.192</td>
		<td>713.255</td>
		<td>807.759</td>
	</tr>
</table>
