<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>51.988</td>
		<td>19.9609</td>
		<td>22.6644</td>
		<td>17.415</td>
		<td>16.8625</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>52.4191</td>
		<td>26.0833</td>
		<td>21.8458</td>
		<td>17.6038</td>
		<td>14.9334</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>67.9218</td>
		<td>24.5371</td>
		<td>31.8766</td>
		<td>14.5571</td>
		<td>14.9291</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>60.7022</td>
		<td>22.4447</td>
		<td>21.9065</td>
		<td>15.7769</td>
		<td>13.1532</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>55.5146</td>
		<td>40.7496</td>
		<td>12.643</td>
		<td>16.5201</td>
		<td>15.9293</td>
	</tr>
</table>
