<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>22.1977</td>
		<td>12.393</td>
		<td>8.23606</td>
		<td>7.82561</td>
		<td>8.31644</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>22.921</td>
		<td>13.1267</td>
		<td>8.90507</td>
		<td>8.91418</td>
		<td>9.42567</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>23.7812</td>
		<td>13.953</td>
		<td>9.84325</td>
		<td>9.96419</td>
		<td>10.1995</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>24.7534</td>
		<td>14.8769</td>
		<td>10.879</td>
		<td>10.9607</td>
		<td>10.8167</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>25.5425</td>
		<td>15.8258</td>
		<td>12.0769</td>
		<td>11.6856</td>
		<td>12.325</td>
	</tr>
</table>
