<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>32.5693</td>
		<td>17.45</td>
		<td>9.78889</td>
		<td>9.00505</td>
		<td>10.9661</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>32.6822</td>
		<td>17.5161</td>
		<td>9.872</td>
		<td>8.70791</td>
		<td>8.27341</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>32.591</td>
		<td>17.4855</td>
		<td>9.83524</td>
		<td>9.29696</td>
		<td>12.0885</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>32.6528</td>
		<td>17.3931</td>
		<td>9.84347</td>
		<td>9.22128</td>
		<td>8.16862</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>32.625</td>
		<td>17.3121</td>
		<td>9.85916</td>
		<td>9.06294</td>
		<td>8.47224</td>
	</tr>
</table>
