<table border="1">
	<tr>
		<td></td>
		<td>P=1</td>
		<td>P=2</td>
		<td>P=4</td>
		<td>P=6</td>
		<td>P=8</td>
	</tr>
	<tr>
		<td>K=100</td>
		<td>45.3243</td>
		<td>347.995</td>
		<td>232.879</td>
		<td>220.743</td>
		<td>178.466</td>
	</tr>
	<tr>
		<td>K=500</td>
		<td>42.1036</td>
		<td>351.732</td>
		<td>224.957</td>
		<td>207.928</td>
		<td>157.276</td>
	</tr>
	<tr>
		<td>K=1000</td>
		<td>246.527</td>
		<td>350.04</td>
		<td>242.46</td>
		<td>192</td>
		<td>123.458</td>
	</tr>
	<tr>
		<td>K=1500</td>
		<td>47.2048</td>
		<td>373.688</td>
		<td>227.495</td>
		<td>166.881</td>
		<td>207.561</td>
	</tr>
	<tr>
		<td>K=2000</td>
		<td>197.785</td>
		<td>369.202</td>
		<td>242.662</td>
		<td>169.687</td>
		<td>162.595</td>
	</tr>
</table>
